<section id="noticias" class="padded">
    <div class="container">
      <h2>Noticias</h2>
      <div class="row">
        <article class="col">
          <h3>noticia</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate provident, consequuntur iure soluta harum facere rerum. Iusto totam unde facere laborum molestiae aliquid eius laboriosam temporibus dicta esse. Necessitatibus, ab.</p>
        </article>
        <article class="col">
          <h3>noticia</h3>
          <p>Incidunt labore molestias laborum possimus eaque et quas veritatis neque architecto. Doloremque provident necessitatibus, dolores repellat eius corporis, asperiores earum nemo deserunt itaque beatae nam deleniti quaerat in possimus similique.</p>
        </article>
        <article class="col">
          <h3>noticia</h3>
          <p>Maxime rem voluptatem provident, vitae veritatis placeat corrupti tempore aliquid accusamus hic, corporis tenetur tempora cum commodi expedita inventore totam quia est eos? Cumque, recusandae placeat? Laborum dolore unde ipsum!</p>
        </article>
        <article class="col">
          <h3>noticia</h3>
          <p>Sit beatae facilis, sint eaque non culpa consequatur, accusamus sunt, incidunt repellendus qui eius adipisci. Expedita, ipsum. Facere ad impedit eum blanditiis ratione, est dolorum illo, eveniet sapiente molestiae cupiditate!</p>
        </article>

      </div>
    </div>

  </section>