<aside id="mensaje" class="padded">
    <div class="container">
      <h2>Vine, ví y vencí</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Est maxime odit aperiam! Cumque sapiente voluptates ut 
         deserunt temporibus earum cum rem modi quae laboriosam
          saepe atque corrupti cupiditate suscipit repudiandae
           ratione a, aut aperiam vitae eligendi! Aut voluptatem
            magnam illum esse, quis veritatis assumenda recusandae 
            dignissimos adipisci praesentium excepturi veniam,
             numquam sunt natus mollitia vel sed quasi odio laudantium dolor eum obcaecati. Voluptates numquam, molestiae est dignissimos sequi sint eligendi nemo veniam quas modi dolorem laboriosam accusantium assumenda delectus fugit.</p>
    </div>
  </aside>
